<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a9202ecaa2.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="300">
        <br><br>
        <div>Lugar para poner la barra de búsqueda</div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="htpps://www.mercadoliebre.com/ofertas">Ofertas</a></li>
                <li><a href="htpps://www.mercadoliebre.com/tiendasoficiales">Tiendas Oficiales</a></li>
                <li><a href="htpps://www.mercadoliebre.com/vender">Vender</a></li>
                <li><a href="htpps://www.mercadoliebre.com/ayuda">Ayuda</a></li>
            </ul>
       
            <ul>
                <li><a href="htpps://www.mercadoliebre.com/register">Creá tu cuenta</a></li>
                <li><a href="htpps://www.mercadoliebre.com/login">Ingresá</a></li>
                <li><a href="htpps://www.mercadoliebre.com/miscompras">Mis Compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" width="300">
        <section>
            <h4>Basado en tu última visita</h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="300">
                <!--En esta parte inicialmente utilicé una etiqueta <p>, pero el texto quedaba más grande.
                    Por ello, y para seguir al pie de la letra las dimensiones del mockup de PG, me incliné 
                    por usar un h6 (por su tamaño). Para quitar la 'negrita' utilicé el atributo style, ya 
                    que en esta entrega es solo HTML. -->
                <h6 style="font-weight: normal;">$6.770</h6>
                <h6 style="font-weight: normal;">40% off</h6>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="250">
                <h6 style="font-weight: normal;">$230.000</h6>
                <h6 style="font-weight: normal;">20% off</h6>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="250">
                <h6 style="font-weight: normal;">$70.500</h6>
                <h6 style="font-weight: normal;">10% off</h6>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="250">
                <h6 style="font-weight: normal;">$23.200</h6>
                <h6 style="font-weight: normal;">5% off</h6>
                <h5>SmartTv Samsung 43"</h5>
            </article>
        </section>
        <section>
            <h3>Ofertas</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="300">
                <h6 style="font-weight: normal;">$6.770</h6>
                <h6 style="font-weight: normal;">40% off</h6>
                <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="250">
                <h6 style="font-weight: normal;">$230.000</h6>
                <h6 style="font-weight: normal;">20% off</h6>
                <h5>MacBook Pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="250">
                <h6 style="font-weight: normal;">$70.500</h6>
                <h6 style="font-weight: normal;">10% off</h6>
                <h5>Samsung Galaxy S10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="250">
                <h6 style="font-weight: normal;">$23.200</h6>
                <h6 style="font-weight: normal;">5% off</h6>
                <h5>SmartTv Samsung 43"</h5>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            
        </section>
    </footer>
</body>
</html>