footer{
    background-color: var(--blanco);
    padding-top: 40px;
    margin-top: 40px;
}
h4{
    text-align: center;
    margin-bottom: 0px;
}
.desc-footer{
    text-align: center;
    margin: 1px 47px 50px;
}
.icon-footer{
    color: var(--color-celeste);
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

/*Desktop*/

@media (min-width:769px) {
    footer .data{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    footer .data section{
        width: 30%;
    }

    footer .data section .icon-footer:hover{
        color: var(--color-azul);
    }
}