*{
    font-family: var(--tipografia);
    text-decoration: none;
    list-style: none;
}
p{
    font-size: var(--cuerpo);
}
h3{
    font-size: var(--titulares);
}
.precios{
    font-weight: normal;
    font-size: var(--precios);
}
h6{
    font-size: var(--descuentos-descripciones);
    font-weight: normal;
}

article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/*Por defecto oculta la descripción del producto*/
.descripcion{
    visibility: hidden;
}

/*Cuando se posa el puntero sobre el articulo se muestra la descripción del
    producto usando la propiedad visibility*/
article:hover .descripcion{
    visibility: visible;
}

.contenedor i{
    transition: 1.5s;
}
.contenedor i:hover{
    transform: rotate(-90deg);
}

