.mainSinFooter{
    width: 90%;
    margin: 0 auto;
}
main section article img{
    width: 100%;
}
main section article{
    background-color: white;
    margin: 10px 0;
    
}
main section article .contenedor{
    position: relative;
    padding: 15px;
    border-top: 1px solid var(--gris-claro);
    display: flex;
    flex-wrap: wrap;
}
main section article .contenedor h4{
    display: none;
    padding-top: 20px;
}
main section article .contenedor h6{
    margin-bottom: 10px;
    padding-right: 10px;
}
main section article i{
    color: var(--verde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
main section article p{
    color: var(--verde);
    margin: 10px 0;
    font-size: 15px;
}

/* En esta parte utilicé el flex-grow para darle el 30% y 70% respectivamente al precio y descuento, porque utilizando el width + flex-wrap, se superponian los elementos. */

.descuento{
    color: var(--verde);
    /* width: 70%; */
    flex-grow: .7;
}
.precios{
    /* width: 30%; */
    flex-grow: 1;
}
.banner{
    display: none;
}
.descripcion{
    display: none;
}
h3{
    color: var(--gris-oscuro);
}
main section{
    display: flex;
    flex-wrap: wrap;
}


/*Tablet*/

@media (min-width:361px){
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width:45%;
    }
    .descripcion{
        display: block;
        color: var(--gris-oscuro);
    }
    .banner{
        display: block;
        width: 100%;
    }
    main section{
        justify-content: space-between;
    }
}

/* Desktop */

@media (min-width:769px) {
    main section article{
        width: 22%;
    }
}

